<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
		<h1>My Blog - Update Post</h1>
		<form role="form" action="" method="POST">
		    {% csrf_token %}
			<table class="table table-bordered table-striped">
				<tbody>
					<tr>
						<th>Title</th>
						<th>{{ post_form.title }}</th>
					</tr>
					<tr>
						<th>Content</th>
						<th>{{ post_form.content }}</th>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-success">Update</button>
			<a href="{% url 'blog:index' %}" class="btn btn-primary">Back to MAIN</a>
		</form>
	</body>
</html>
