{% extends 'base.html' %} {% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Comeback Heroes </h3>
                    <p class="text-light">Welcome to the offical Comeback Heroes Blog! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.create_date }}</p>
        <p class="card-text ">{{ post.content }}</p>
      </div>
    </div>
    {% block sidebar_home %} {% include 'sidebar_home.html' %} {% endblock sidebar_home %}

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal">
              {{ comment.create_date }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        <a href="{% url 'blog:delete-comment' comment.id  %}" class="btn btn-danger">Delete Comment</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Comment posted!
        </div>

        <h3>Leave another comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
          <a href="{% url 'blog:view-post' post.id  %}" class="btn btn-danger btn-lg">Cancel</a>
        </form>

        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
